In [1]:
for i in range (2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [2]:
for i in range (2,12,3):
    print(i)

2
5
8
11

Here, '3'at the end marks the level of increment between the range of 2 to 12. That is, range(start,stop,step)

In [3]:
for i in range (12,0,-3):
    print(i)

12
9
6
3

In [13]:
num= input("Please enter number:")
for i in range(1,11):
    print(num, 'x', i,'=', int(num)*i)

Please enter number:20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [14]:
for i in range(0,100,7):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [115]:
tableOf=input("Please enter the table of:")
sizeOftable=input("Table till:")
for m in range (1,int(sizeOftable)):
    result=int(tableof)*m
    print(tableOf,"*",m,"=",result)

Please enter the table of:20
Table till:101
20 * 1 = 5
20 * 2 = 10
20 * 3 = 15
20 * 4 = 20
20 * 5 = 25
20 * 6 = 30
20 * 7 = 35
20 * 8 = 40
20 * 9 = 45
20 * 10 = 50
20 * 11 = 55
20 * 12 = 60
20 * 13 = 65
20 * 14 = 70
20 * 15 = 75
20 * 16 = 80
20 * 17 = 85
20 * 18 = 90
20 * 19 = 95
20 * 20 = 100
20 * 21 = 105
20 * 22 = 110
20 * 23 = 115
20 * 24 = 120
20 * 25 = 125
20 * 26 = 130
20 * 27 = 135
20 * 28 = 140
20 * 29 = 145
20 * 30 = 150
20 * 31 = 155
20 * 32 = 160
20 * 33 = 165
20 * 34 = 170
20 * 35 = 175
20 * 36 = 180
20 * 37 = 185
20 * 38 = 190
20 * 39 = 195
20 * 40 = 200
20 * 41 = 205
20 * 42 = 210
20 * 43 = 215
20 * 44 = 220
20 * 45 = 225
20 * 46 = 230
20 * 47 = 235
20 * 48 = 240
20 * 49 = 245
20 * 50 = 250
20 * 51 = 255
20 * 52 = 260
20 * 53 = 265
20 * 54 = 270
20 * 55 = 275
20 * 56 = 280
20 * 57 = 285
20 * 58 = 290
20 * 59 = 295
20 * 60 = 300
20 * 61 = 305
20 * 62 = 310
20 * 63 = 315
20 * 64 = 320
20 * 65 = 325
20 * 66 = 330
20 * 67 = 335
20 * 68 = 340
20 * 69 = 345
20 * 70 = 350
20 * 71 = 355
20 * 72 = 360
20 * 73 = 365
20 * 74 = 370
20 * 75 = 375
20 * 76 = 380
20 * 77 = 385
20 * 78 = 390
20 * 79 = 395
20 * 80 = 400
20 * 81 = 405
20 * 82 = 410
20 * 83 = 415
20 * 84 = 420
20 * 85 = 425
20 * 86 = 430
20 * 87 = 435
20 * 88 = 440
20 * 89 = 445
20 * 90 = 450
20 * 91 = 455
20 * 92 = 460
20 * 93 = 465
20 * 94 = 470
20 * 95 = 475
20 * 96 = 480
20 * 97 = 485
20 * 98 = 490
20 * 99 = 495
20 * 100 = 500

In [27]:
sum=0
for i in range(6):
    sum=sum+i
    print(sum)

0
1
3
6
10
15

In [28]:
sum=0
for i in range(6):
    sum=sum+i
print(sum)

15

This is the sum of the first 6 numbers.

In [31]:
sum=0
x=input("Sum of odd numbers till:")
for i in range(1, int(x)+1,2):
    sum=sum+i
print(sum)

Sum of odd numbers till:5
9

This would be the sum of odd numbers from 1 to n, here n is equal to 5.

In [39]:
#Starting with STRING

In [44]:
s1= "India"
s2= 'India'
s3= "'India'"
print(s1,s2,s3)

India India 'India'

In [45]:
s1="India's"
print(s1)

India's

In [46]:
#Indexing

In [47]:
s1="India"
print(s1[2])

d

In [48]:
#Negative Indexing
s1="India"
print(s1[-3])

d

Positive Indexing starts from 0 from extreme left and Negative starts from the extreme right and -1.

In [49]:
s1="India is my country"
print(len(s1))
print(s1[-17])

19
d

Len is used to find the number of characters (inclusive of the spaces).

In [52]:
s1="India is my country"
print(s1.index('c'))

12

The above mentioned command is to find the Index Number of a particular character.

In [81]:
s1="India is a country"
#print(len(s1))
#print("Last character of any string:",s1[len(s1)-1])
#print(s1.index('c'))

for i in range(len(s1)):
    print(i, s1[i])

0 I
1 n
2 d
3 i
4 a
5
6 i
7 s
8
9 a
10
11 c
12 o
13 u
14 n
15 t
16 r
17 y

Above mentioned is the way to print the allotted index numbers of each character in the string.

In [82]:
for i in range(len(s1)):
    print(i, s1[i], s1.index(s1[i]))

0 I 0
1 n 1
2 d 2
3 i 3
4 a 4
5   5
6 i 3
7 s 7
8   5
9 a 4
10   5
11 c 11
12 o 12
13 u 13
14 n 1
15 t 15
16 r 16
17 y 17

In [83]:
for i in s1:
    print(i)

I
n
d
i
a

i
s

a

c
o
u
n
t
r
y

In the above command, i is now no more an integer rather it is a character.

In [84]:
#Now count number of spaces in the sentences.

In [99]:
s1="India is a country"
for h in s1:
    print(h,h.isspace())

I False
n False
d False
i False
a False
  True
i False
s False
  True
a False
  True
c False
o False
u False
n False
t False
r False
y False

In [93]:
s1="India"
for i in s1:
    print(i.upper(),i.lower())
print(s1.upper(), s1.lower())

s2="India5769iu"
for j in s2:
    print(j,j.isnumeric(),j.isalpha())

I i
N n
D d
I i
A a
INDIA india
I False True
n False True
d False True
i False True
a False True
5 True False
7 True False
6 True False
9 True False
i False True
u False True

In [111]:
spaceCount=0
alphaCount=0
numericCount=0
s2="India5769iu hey INDIA 67y#$%^ jihj"
for j in s2:
    if j.isspace()==True:
        spaceCount=spaceCount+1
    elif j.isalpha():
        alphaCount=alphaCount+1
    elif j.isnumeric():
        numericCount=numericCount+1
print("Number of Spaces:", spaceCount)
print("Number of Alphas:", alphaCount)
print("Number of Numbers:", numericCount)

Number of Spaces: 4
Number of Alphas: 20
Number of Numbers: 6

In [118]:
num=input("Please Enter Your Number:")
for i in range(1,11):
    print(num, 'x', i,'=', int(num)*i)

Please Enter Your Number:57
57 x 1 = 57
57 x 2 = 114
57 x 3 = 171
57 x 4 = 228
57 x 5 = 285
57 x 6 = 342
57 x 7 = 399
57 x 8 = 456
57 x 9 = 513
57 x 10 = 570